#Diamonds{
	width: 50px;
	height: 0;
	float: left;
	border©\style: solid;
	border©\color: transparent transparent black transparent;
	border©\width: 0 25px 25px 25px;
	position: relative;
	margin: 20px 0 50px 0;
}

#Diamonds:after{
	width: 0;
	height: 0;
	top: 25px;
	left: ©\25px;
	border©\style: solid;
	border©\color: black transparent transparent transparent;
	border©\width: 70px 50px 0 50px;
	position: absolute;
	content: "";
}

#Diamond {
	width: 100px;
	height: 100px;
	float: left;
	background: #8e00ff;
	©\webkit©\transform: rotate(©\45deg);
	©\moz©\transform: rotate(©\45deg);
	©\ms©\transform: rotate(©\45deg);
	©\o©\transform: rotate(©\45deg);
	transform: rotate(©\45deg);
	©\webkit©\transform©\origin: 0 100%;
	©\moz©\transform©\origin: 0 100%;
	©\ms©\transform©\origin: 0 100%;
	©\o©\transform©\origin: 0 100%;
	transform©\origin: 0 100%;
	margin: 40px 0 10px 240px;
}

.Circle{
	width:45px;
	height:45px;
	float: left;
	background: #ffd700;
	border©\radius: 17.5px;
}

#Ring {
	width: 35px;
	height: 35px;
	float: left;
	background©\color: white;
	border©\radius: 80px;
	border:5px  solid;
}

#Sector {
	width:100px;
	height:100px;
	float: left;
	background©\color: #6fee1d;
	border©\left: 70px solid transparent;
	border©\right: 70px solid transparent;
	border©\top: 100px solid #ab9ed1;
	border©\radius:50%;
}